<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/images/DSC00550.JPG" class="img-thumbnail">
      <h2>All Common Links</h2>
      
     
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="https://www.icicibank.com/Personal-Banking/insta-banking/internet-banking/index.page" class="btn btn-primary" role="button">ICICI Bank</a>
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col-md-12">
      <a href="https://www.unitedbank.co.in/english/Homepage.aspx" class="btn btn-primary" role="button">UBI Bank</a>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <a href="https://netbanking.hdfcbank.com/netbanking/?

        _ga=2.6046131.1262593062.1587218602-1737469463.1587218602" class="btn btn-primary" role="button">HDFC Bank</a>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <a href="https://www.bobibanking.com/" class="btn btn-primary" role="button">Bank of Baroda</a>
        </div>
        <br>
  </div>
</div>
